@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.containerTop {
    margin-top: 30px;
    padding-bottom: 50px;
}

.link a {
    text-decoration: none;
    color: #000;
}

.link a:hover {
    color: #049aef;
}

.link p {
    color: #000;
}

.hr {
    background-color: #049aef;
    padding-top: 5px;
    margin-bottom: 30px;
}
/* #2e86c1 */
h1 {
    font-family: 'Open Sans', sans-serif;
    color: #049aef;
    font-weight: bold;
    margin-bottom: 1px;
}


.shadowBox {
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.9;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.shadowBoxForm {
    margin-top: 40px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Employee Home */

.search {
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
}

.search input {
    height: 45px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-indent: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.search .fa-search {
    position: absolute;
    top: 15px;
    left: 25px
}


table tr {
    text-align: center;
    justify-content: center;
}

.table-green tr{
    background-color: #38B000;
    color: #fff;
}

.buttons {
    margin-top: 20px;
}

.buttonStyle{
    border-radius: 20px;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    
}

.buttonStyle2{
    border: 2px solid #049aef;
    color: #049aef;
    border-radius: 20px;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    
}

.buttonStyle2:hover{
    background-color: #049aef;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    
}



.button_add {
    border-radius: 20px;
    background-color: #ad04fc;
    color: #fff;
    text-align: center;
    padding-left: 2px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 18px;
    width: 180px;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    
}
.button_add span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_add span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_add:hover {
    color: #fff;
    background-color: #7071ad;
}

.button_add:hover span {
    padding-right: 25px;
}

.button_add:hover span:after {
    opacity: 1;
    right: 0;
}



.button_add2 {
    border-radius: 20px;
    background-color: #049aef;
    color: #fff;
    text-align: center;
    padding-left: 2px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 18px;
    width: 180px;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    
}
.button_add2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_add2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_add2:hover {
    color: #fff;
    background-color: #2084be;
}

.button_add:hover span {
    padding-right: 25px;
}

.button_add:hover span:after {
    opacity: 1;
    right: 0;
}



.button_pdf {
    border-radius: 20px;
    border: 2px solid #ad04fc;
    color: #ad04fc;
    text-align: center;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 18px;
    transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
    
}

.button_pdf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_pdf span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_pdf:hover {
    color: #fff;
    background-color: #ad04fc;
}

.button_pdf:hover span {
    padding-right: 25px;
}

.button_pdf:hover span:after {
    opacity: 1;
    right: 0;
}

.buttons2{
    margin-top: 27px;
}

/* add */

.sub_btn{
    background-color: #ad04fc;
    width: 100%;
    margin-top: 35px;
    margin-right: 100px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}
.sub_btn:hover{
    background-color:#7071ad ;
    font-size: large;
    font-weight: bold;
}




.box{
    margin-top: 10px;
    width: 740px;
    border-radius: 20px;
}

.box img{
    border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	height:260px; 
	width:260px;
}

.shadowBox input{
    margin-top: 5px;
}

.addItem{    
    margin-left: 50px;
    border-radius: 10px;
}

.closebtn{
    border-radius: 50%;
    border: 2px solid rgb(231, 50, 50);
    color: rgb(231, 50, 50);
}

.closebtn i{
    font-size: 18px;
}

.closebtn:hover{
    background-color: rgb(231, 50, 50);
    color: white;
}

.submitbtn button{
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.rlink{
    text-decoration: none;
    color: black;
}


.position-relative{
    margin-top: 20px;
}

.rtitle hr{
    margin-top: 20px;
}















